#include <windows.h>

// Version information block
VS_VERSION_INFO VERSIONINFO
    FILEVERSION 1,0,0,0
    PRODUCTVERSION 1,0,0,0
    FILEFLAGSMASK 0x3fL
    FILEFLAGS 0x0L
    FILEOS VOS_NT_WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"  // Language and code page (U.S. English & Unicode)
        BEGIN
            VALUE "CompanyName", ""
            VALUE "FileDescription", "Hamza Library"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "hamza"
            VALUE "LegalCopyright", "Said Metiche"
            VALUE "OriginalFilename", ""
            VALUE "ProductName", "Hamza"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252  // U.S. English, Code Page 1252 (ANSI Latin 1)
    END
END