/* #NDHeader {
    background-color: #565656;
} */
/* #NDThemeSwitcher { display: none !important; } */

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../../nd-project/RobotoMono-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../../nd-project/RobotoMono-Italic-VariableFont_wght.ttf');
    font-style:italic;
}


.DarkTheme #NDHeader {
    background-image: linear-gradient(to top,#454545 0%,#2a2a2a 100%);
    border-bottom-color: #525252;
    box-shadow: 0 -1px 0 0 #8f8f8f inset;
}

.LightTheme .CPEntry, .DarkTheme .CPEntry, .BlackTheme .CPEntry {
    border-width: 1px 1px 1px 1px;
    border-radius: 5pt;
}

.LightTheme .CPEntry {
    box-shadow: 4px 2px 3px #838383;
}

.LightTheme #NDHeader {
    background-color: #757575;
    /* background-image: linear-gradient(to right, #b63e3e 0%, #ffffff 100%) ; */
    /* border-bottom-color: #431313; */
    /* box-shadow: 0 -4px 12px 12px #2f1212 inset; */
}

.NDHomePage body {
    padding: 0;
    margin: 0;
    background-color: #E0E0E0;
    background-image: linear-gradient(to bottom,#757575,#E0E0E0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%
}

#NDSearchField {
    border-radius: 0;
}

.DarkTheme #NDFooter {
    font: 8pt "Trebuchet MS",Tahoma,Geneva,sans-serif;
}

.CDLEntry {
    font: bold 10pt "Trebuchet MS",Tahoma,Geneva,sans-serif;
}

.CHeading {
    font: bold 10pt "Trebuchet MS",Tahoma,Geneva,sans-serif;
    margin: 1.2em 0 .5em 0;
}

.CTitle {
    font: italic 16pt "Roboto Mono",Tahoma,Geneva,sans-serif;
    font-weight: bold;
}

.CPName {
    font-style: italic;
    font: bold 16pt "Roboto Mono",Tahoma,Geneva,sans-serif;
}

.NDPrototype {
    line-height: 16pt;
    font: 10pt "Roboto Mono","Courier","Monospace","Consolas","Menlo-Regular";
}


.CTopic pre {
    line-height: 16pt;
    font: 12pt "Roboto Mono","Courier","Monospace","Consolas","Menlo-Regular";
}

.CDLParameterType {
    font: 8pt "Roboto Mono";
    white-space: nowrap;
}
 